# [persistance_provider]
PERSISTENCE_PROVIDER=sqlite
DB_TYPE=sqlite
#MONGO_HOST=localhost
#MONGO_PORT=27017
#MONGO_USERNAME=
#MONGO_PASSWORD=
#MONGO_DATABASE=autobyteus
#MONGO_REPLICA_SET=rs0
#DB_TYPE=postgresql
#DB_NAME=autobyteus
#DB_USER=postgres
#DB_PASSWORD=mysecretpassword
#DB_HOST=localhost
#DB_PORT=5432

## [embedding type]
DEFAULT_EMBEDDING_TYPE=sentence_transformer
DEFAULT_SENTENCE_TRANSFORMER_MODEL=sentence-transformers/all-mpnet-base-v2
AUTOBYTEUS_LLM_SERVER_URL='https://127.0.0.1:51739'
AUTOBYTEUS_CERT_FINGERPRINT='01:FA:17:8A:D0:03:87:67:53:86:4D:54:0F:6D:6F:33:B3:9A:8E:8D:5D:35:64:6E:F9:E2:5F:C1:0F:80:AF:00'

## [real time transcription]
# Set to true to enable real-time audio transcription (requires PyTorch, Transformers, and GPU)
ENABLE_REAL_TIME_TRANSCRIPTION=false
